    <div class="small-12 large-4 columns">
        <h2>Hello, <%= @user.first_name if @user.first_name != nil %>! </h2>
        <p><%= gravatar_tag @user.email, :size => 100 %></p>
        <p>Name: <%= @user.first_name %> <%= @user.last_name %> </p>
        <p>Email: <%= @user.email %></p>
        <p>Birthdate: <%= @user.birthday %></p>
        <p>Lives in: <%= @user.lives_in %></p>
        <p>Blurb: <%= @user.blurb %></p>
        <%= link_to "Edit profile", edit_user_registration_path %>
    </div>