<!DOCTYPE html>
<html>
<head>
  <title>Lanimot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_page?(root_path) && user_signed_in? == false%>
    <div class="header">
    <a href="/"> <%= image_tag 'lanimot_logo.png', width: "600px" %></a>
    A vegan outreach project by Linda Monahan
    </div>
  <% else %>
    <%= render partial: "shared/horizontal_header" %>
  <% end %>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>


  <%= yield %>


  <%= render partial: "shared/footer" %>

</body>
</html>
